body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
a {
  text-decoration: none;
  font-style: normal;
}
address {
  font-style: normal;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1188px;
  padding-left: 0 15px;
  margin: 0 auto;
}
.header {
}
.header__container{
  display: flex;
  padding: 24px 156px;

}
.header__nav {
  display: flex;
}
.logo__desc {
  color: #2e2f42;
}
.logo__header {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
}
.nav__list {
  display: flex;
  gap: 40px;
  
}
.nav__item {
}
.nav__link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav__link:hover,
.nav__link:focus {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.header__address {
  display: flex;
}
.address__list{
display: flex;
margin-left: auto;
gap: 40px;
}
.address__link:hover,
.address__link:focus {
  color: #404bbf;
}
.address__link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address__item {
}
.hero {
}
.hero__box{
  background-color: #2e2f42;
  padding: 188px 472px;
  
}
.hero_title {
  color: #fff;
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin: 0 auto;
}
.hero__btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  margin-top: 48px;
}
.hero__btn:hover,
.hero__btn:focus {
  background: #404bbf;
}
.feature {
  display: flex;
  padding: 120px 156px;
}
.visually__hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature__title {
}
.feature__list {
  display: flex;
  gap: 24px;
}
.feature__item {
width: calc((100%-24*3)/4);
}
.feature__subtitle {
  margin-bottom: 8px;
}
.feature__text {
}
.teamcard {
  text-align: center;
  padding: 120px 156px;
  background: #f4f4fd;
}
.teamcard__title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.teamcard__list {
  display: inline-flex;
  gap: 24px;
}
.teamcard__item {
  background-color: #ffffff;
}
.teamcard__images {
  margin-bottom: 32px;
}
.teamcard__subtitle {
  margin-bottom: 8px;
}
.teamcard__text {
  margin-bottom: 32px;
}
.portfolio {
  padding: 120px 156px;
  flex-shrink: 0;
}
.portfolio__title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio__list {
display: flex;
gap: 24px;
  flex-wrap: wrap;
}
.portfolio__item {
}
.portfolio__images {
  margin-bottom: 32px;
}
.portfolio__subtitle {
  margin-bottom: 8px;
}
.portfolio__text {
  margin-bottom: 32px;
}
.footer {
}
.footer__container{
  background: #2e2f42;
  padding: 100px 0;
}
.logo__footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.logo__descwth {
  color: #f4f4fd;
}
.footer__text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
